@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
  font-family:'Lato',sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  transition: all 0.2s linear;
}


// change all units to px
$green:#089C7C;
$light-green:#f0fdfa;
$light-color:#777;
$light-white:#eee;
$black:#444;
$white:#fff;
$border:0.1rem solid $green;
$box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);

//what is mixin? css function?
@mixin grid($val){
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax($val,1fr));
  gap:2rem;
}

//title
@mixin titleText($titleSize){
  font-size: $titleSize;
  text-transform: capitalize;
  color: $black;
}

//paragraph
@mixin graphText($graphSize) {
  font-size: $graphSize;
  line-height: 2;
  color: $light-color;
}

html{
  font-size: 62.5%; //change
  overflow-x: hidden;

  &::-webkit-scrollbar{
    width:1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color:$green;
  }
}
section{
  padding:5rem 10%;
}

.heading-link{
  text-align: center;
  background: rgb(240, 253, 250);
  background: radial-gradient(circle, rgba(240, 253, 250, 1) 0%, rgba(238, 238, 238, 1) 100%);
  h3{
    @include titleText(4rem)
  }

}
.heading{
  text-align: center;
  margin-bottom:3rem;
  @include titleText(3.5rem)
}

.btn {
  display: inline-block;
  margin-top:1rem;
  background-color: $light-green;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border:$border;
  color: $green;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color:$green;
  }
}

 .logo img {
   width: 150px;
 }

.header{
  position:sticky; //why not fixed
  top:0;
  left:0;
  right:0;
  background-color: $white;
  box-shadow: $box-shadow;
  padding:2rem 10%;
  display:flex;
  align-items: center;
  // justify-content: space-between;
  z-index:1000;

  .logo {
      margin-right: auto;
    }

 

  .navbar {
    position: relative;

    #close-menu-btn{
      position: absolute;
      display: none;
      top:1.5rem;
      right:2rem;
      font-size: 4rem;
      color:$black;
      cursor: pointer;

      &:hover{
        transform: rotate(90deg);
      }
    }
    a{
    margin-right:2rem;
    @include titleText(2rem);

    &:hover{
      color:$green;

    }
  }

  }

  .icons div{
    cursor:pointer;
    font-size: 2.5rem;
    color:$black;
    margin-left:1.5rem;;

    &:hover{
      color:$green;
    }

  }
    #menu-btn {
      display: none;
    }

}
//account form
.account-form{
  position:fixed;
  right: -200%;
  top:0;
  width: 35rem;
  height: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  z-index:1200;
  padding: 2rem;
  text-align: center;

  
  #close-form{
    position: absolute; 
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    color: $black;
    cursor: pointer;
  
    &:hover {
      transform: rotate(90deg);
    }

  }
  form{

    border:$border;
    padding:2rem;
    display: none;
    h3{
      @include titleText(2.5rem);
      padding-bottom:0.5rem;
      text-transform: uppercase;

    }
    .box{
      width:100%;
      padding:1.2rem 1.4rem;
      font-size: 1.6rem;
      margin:0.7rem 0;
      border:$border;
    }
    .flex{
      padding: 1rem 0;
      display: flex;
      align-items: center;
      gap:0.5rem;
      label{
        cursor: pointer;
        font-size: 1.5rem;
        color: $light-color;
      }
      a{
        color:$light-color;
        font-size: 1.5rem;
        margin-left:auto;

        &:hover{
          text-decoration: underline;
          color: $green;
        }
      }
    }
    .btn{
      width:100%;
    }
   
  }
  .buttons .btn{
    margin:0 0.5rem;

    &.active{
      background-color: $white;
    }
  }

}



//footer
.footer{
  background-color: $light-green;
  padding: 5rem 10%;
  .box-container{
    @include grid(20rem);
    
    // padding:1rem 0;
    // display: flex;
    // justify-content: space-around;

    .box {
      .logo {
        padding-bottom:0.7rem; 
      }
      
        h3{
          @include titleText(2.2rem);
          padding:1rem 0;
        }

        a{
          @include graphText(1.5rem);
          padding:0.5rem 0;
          display:block;
      
          &:hover{
            color:$green;
            text-decoration: underline;
          }
        }
        .icons{
          display:inline-block;
          
          .icon{
            cursor: pointer;
            height:3.5rem;
            width: 3.5rem;
            font-size: 2rem;
            text-align: center;
            padding-top: 0.75rem;
            background-color: $green;
            color: $white;
            margin-right: 1rem;
            &:hover{
              background-color:$black ;
             
            }
          }
        }
      }
  }
  .credit{
    text-align: center;
    margin-top:3rem;
    padding-top: 3rem;
    @include titleText(1.5rem)
  }
}

//home
.hero{
  padding:0;
  .slide{
    display:flex;
    align-items: center;
    height:60rem;
    justify-content: right;
    //change
    background-size: cover !important;
    // background-position:center !important;

    .content{
      width:50rem;
      
    
      h3{
        @include titleText(5rem);
        color: $white;
        
      }
      p{
        @include graphText(2rem);
        color: $white;
        border-bottom: $border;
        margin-bottom:1rem;
      }
    }

  }
}
.swiper-pagination-bullet-active{
  background-color: $green;
}

//countries
.countries{
  .box-container{
    @include grid(15rem);

    .box {
      background-color: $light-green;
      text-align: center;
      padding: 3rem 2rem;
      border:$border;
      cursor:pointer;

      &:hover{
        background-color:$green;
        h3{
          color:$white;
        }
        p{
          color:$light-white
        }
      }
    
        img {
          height: 10rem;
        }
        h3{
          @include titleText(1.5rem);
          padding-top:3rem;
        }
        p{
          @include graphText(1rem)
        }
    
      }
  }
  
  
}
//promotion

.promotion{
  overflow: hidden;
  .slide{
    text-align: center;
    position: relative;
    width:30rem;
    background-color: $light-green;

    &:hover{
      .content{
        bottom:0;
      }
    }

    .image {
        padding: 2rem;
        img {
          // width: 100%;
          height:30rem;
          margin-bottom: 1.5rem;
        }
        h3{
          @include titleText(1.5rem)
        }
      
      }
      .content{
        position:absolute;
        bottom:-100%;;
        right:0;
        left:0;
        background-color: $green;
        padding:2rem 3rem;
        h3{
          @include titleText(1.5rem);
          color:$white;
        }
        p{
          padding:1rem 0;
          @include graphText(1rem);
          color:$light-white
        }
        .btn:hover{
          background-color: $black
        }
      }
  }

  .swiper-button-prev,.swiper-button-next{
    color:$green
  }
  
}

//friends
.friends{
  .box-container{
    @include grid(30rem);
    // why does it center everything even images
    text-align: center;
    
    .box{
      box-shadow: $box-shadow;

      &:hover{
        transform: scale(1.03);

      }

      &.hide{
        display:none;
      }

      .image{
        height:35rem;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            width:100%;
            object-fit: cover;
          }
          h3{
            @include titleText(2rem);
            position:absolute;
            top:1rem;
            left:1.5rem;
            padding:0.5rem 1.5rem;
            background-color: $white;
            
          }

      }
      .content{
        padding:2rem;
        text-align:center;
        border:$border;

        p{
          @include graphText(1.6rem)
        }

        .icons{
          display: flex;
          align-items: center;
          justify-content:space-around;
          margin:1rem 0;

          span{
            @include titleText(1.2rem);

            .fa-clock{
              color:$green;
            }
            .fa-check{
              color:$green;
            }
            .fa-bolt{
              color:red;
            }
            .fa-warning{
              color:rgb(255, 162, 0);
            }
          }
        }

        .money{
          @include grid(1rem);
          margin-bottom:1rem;

          border-bottom:$border;
  
        }
      }


    }
    

    
  }
    .load-btn {
      margin-top:2rem;
      text-align: center;
     
    }
    
 
}


//help

.help {

  .icons-container{
    @include grid(20rem);
    margin-bottom: 2rem;

    .icons{
      text-align: center;
      padding:3rem 2rem;
      border: $border;
      background: $light-green;

      i{
        background: $green;
        color:$white;
        width:5rem;
        height:5rem;
        line-height: 5rem;
        border-radius: 50%;
        font-size: 2rem;
      }
      h3{
        @include titleText(1.5rem);
        padding:1rem 0;
      }
      p{
        @include graphText(1.5rem)
      }
    }

  }

}


//faq
.faq {
 
  .accordion-container {
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    align-items:flex-start;
    

    .accordion{
      flex:1 1 100%;
      border: $border;

      &.active{
        .accordion-heading{
          background-color: $green;

          h3{
            color:$white
          }
          i{
            color:$white;
            transform: rotate(180deg);
          }
         
        }
        .accordion-content {
          display: block;
        }
}

      .accordion-heading{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap:1rem;
        cursor:pointer;
        padding:1.5rem;

        h3{
          @include titleText(2rem)
        }
        i{
          font-size: 2rem;
          color:$green;
        }
        

      }
      .accordion-content{
        padding:1.5rem;
        @include graphText(1.5rem);
        border-top:$border;
        display:none;

        ul,ol{
          padding:0 2rem;
        }
      }
    }
  }

  
}

















//borrow
.borrow{
  // ?????????
  .box-container{
    width:100%;
    .box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow:$box-shadow;
    
        img {
          height:15rem;
          padding-top:2rem ;
        }
    
        .btn {
          height: 5rem;
        }
    
        p {
          @include graphText(1.5rem);
        }

        h3{
          @include titleText(1.7rem);
          padding:0.5rem 0;
        }
        .fa-hourglass{
          color:$green;
        }

        .few-days{
          color: red;
        }
      }

  }
  
 
}





















































// media queries


//desktop
@media (max-width:1200px) {
  .header{
    padding:2rem 5%;
  }
  section,.foooter{
    padding: 3rem 5%; 
  }
  
 
  
}
//laptop??
@media (max-width:991px){
  html{
    font-size: 55%;
  }
  .logo img {
    width: 100px;
  }
  .header {
    padding: 2rem;
 
  }
     section,
     .foooter {
       padding: 3rem 2rem;
     }

}

//tablet??
@media (max-width:768px) {
  .header{
    #menu-btn {
        display: inline-block;
      }
    .navbar {
      position: fixed;
      top:0;
      right:-200%;
      display: flex;
      gap:2rem;
      width:30rem;
      background-color:$white;
      flex-direction: column;
      height:100%; //vs 100vh??
      padding:10rem;
      z-index: 1200;
      #close-menu-btn{
        display: block;
      }
      a{
        display: block;

      }
    }
  }
  .hero .slide .content h3{
    font-size:3rem ;

  }

 


}

//mobile??
@media (max-width:450px) {
  html {
    font-size: 50%;
  }
  .heading{
    font-size: 3rem;
  }
     .borrow {
      .box-container{
        @include grid(30rem);
        text-align: center;
        

        .box {
            width: 30rem;
            // text-align: center;
            border:$border;
            margin: auto;
            flex-direction: column;
            padding-bottom: 1rem;
            // box-shadow: none;
            .image{
              width:100%;
              height:30rem;
              position: relative;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding-top: 0;
              }
              h3{
                position: absolute;
                top:1.5rem;
                left:1.5rem;
                padding:0.5rem 1rem;
                background: $white;
              }
            }
          }

      }
  
       
      }

}


