@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #089C7C;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background: rgb(240, 253, 250);
  background: radial-gradient(circle, rgb(240, 253, 250) 0%, rgb(238, 238, 238) 100%);
}
.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #f0fdfa;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #089C7C;
  color: #089C7C;
  text-transform: capitalize;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background-color: #089C7C;
}

.logo img {
  width: 150px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
}
.header .navbar {
  position: relative;
}
.header .navbar #close-menu-btn {
  position: absolute;
  display: none;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  color: #444;
  cursor: pointer;
}
.header .navbar #close-menu-btn:hover {
  transform: rotate(90deg);
}
.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.header .navbar a:hover {
  color: #089C7C;
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}
.header .icons div:hover {
  color: #089C7C;
}
.header #menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  right: -200%;
  top: 0;
  width: 35rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}
.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  color: #444;
  cursor: pointer;
}
.account-form #close-form:hover {
  transform: rotate(90deg);
}
.account-form form {
  border: 0.1rem solid #089C7C;
  padding: 2rem;
  display: none;
}
.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  margin: 0.7rem 0;
  border: 0.1rem solid #089C7C;
}
.account-form form .flex {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.account-form form .flex label {
  cursor: pointer;
  font-size: 1.5rem;
  color: #777;
}
.account-form form .flex a {
  color: #777;
  font-size: 1.5rem;
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline;
  color: #089C7C;
}
.account-form form .btn {
  width: 100%;
}
.account-form .buttons .btn {
  margin: 0 0.5rem;
}
.account-form .buttons .btn.active {
  background-color: #fff;
}

.footer {
  background-color: #f0fdfa;
  padding: 5rem 10%;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}
.footer .box-container .box .logo {
  padding-bottom: 0.7rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #089C7C;
  text-decoration: underline;
}
.footer .box-container .box .icons {
  display: inline-block;
}
.footer .box-container .box .icons .icon {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.75rem;
  background-color: #089C7C;
  color: #fff;
  margin-right: 1rem;
}
.footer .box-container .box .icons .icon:hover {
  background-color: #444;
}
.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}

.hero {
  padding: 0;
}
.hero .slide {
  display: flex;
  align-items: center;
  height: 60rem;
  justify-content: right;
  background-size: cover !important;
}
.hero .slide .content {
  width: 50rem;
}
.hero .slide .content h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.hero .slide .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
}

.swiper-pagination-bullet-active {
  background-color: #089C7C;
}

.countries .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}
.countries .box-container .box {
  background-color: #f0fdfa;
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #089C7C;
  cursor: pointer;
}
.countries .box-container .box:hover {
  background-color: #089C7C;
}
.countries .box-container .box:hover h3 {
  color: #fff;
}
.countries .box-container .box:hover p {
  color: #eee;
}
.countries .box-container .box img {
  height: 10rem;
}
.countries .box-container .box h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  padding-top: 3rem;
}
.countries .box-container .box p {
  font-size: 1rem;
  line-height: 2;
  color: #777;
}

.promotion {
  overflow: hidden;
}
.promotion .slide {
  text-align: center;
  position: relative;
  width: 30rem;
  background-color: #f0fdfa;
}
.promotion .slide:hover .content {
  bottom: 0;
}
.promotion .slide .image {
  padding: 2rem;
}
.promotion .slide .image img {
  height: 30rem;
  margin-bottom: 1.5rem;
}
.promotion .slide .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}
.promotion .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background-color: #089C7C;
  padding: 2rem 3rem;
}
.promotion .slide .content h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.promotion .slide .content p {
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 2;
  color: #777;
  color: #eee;
}
.promotion .slide .content .btn:hover {
  background-color: #444;
}
.promotion .swiper-button-prev, .promotion .swiper-button-next {
  color: #089C7C;
}

.friends .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  text-align: center;
}
.friends .box-container .box {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.friends .box-container .box:hover {
  transform: scale(1.03);
}
.friends .box-container .box.hide {
  display: none;
}
.friends .box-container .box .image {
  height: 35rem;
  overflow: hidden;
  position: relative;
}
.friends .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.friends .box-container .box .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
}
.friends .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #089C7C;
}
.friends .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}
.friends .box-container .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}
.friends .box-container .box .content .icons span {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #444;
}
.friends .box-container .box .content .icons span .fa-clock {
  color: #089C7C;
}
.friends .box-container .box .content .icons span .fa-check {
  color: #089C7C;
}
.friends .box-container .box .content .icons span .fa-bolt {
  color: red;
}
.friends .box-container .box .content .icons span .fa-warning {
  color: rgb(255, 162, 0);
}
.friends .box-container .box .content .money {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  gap: 2rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #089C7C;
}
.friends .load-btn {
  margin-top: 2rem;
  text-align: center;
}

.borrow .box-container {
  width: 100%;
}
.borrow .box-container .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.borrow .box-container .box img {
  height: 15rem;
  padding-top: 2rem;
}
.borrow .box-container .box .btn {
  height: 5rem;
}
.borrow .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
.borrow .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.borrow .box-container .box .fa-hourglass {
  color: #089C7C;
}
.borrow .box-container .box .few-days {
  color: red;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section, .foooter {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .logo img {
    width: 100px;
  }
  .header {
    padding: 2rem;
  }
  section,
  .foooter {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -200%;
    display: flex;
    gap: 2rem;
    width: 30rem;
    background-color: #fff;
    flex-direction: column;
    height: 100%;
    padding: 10rem;
    z-index: 1200;
  }
  .header .navbar #close-menu-btn {
    display: block;
  }
  .header .navbar a {
    display: block;
  }
  .hero .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .borrow .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    text-align: center;
  }
  .borrow .box-container .box {
    width: 30rem;
    border: 0.1rem solid #089C7C;
    margin: auto;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .borrow .box-container .box .image {
    width: 100%;
    height: 30rem;
    position: relative;
  }
  .borrow .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 0;
  }
  .borrow .box-container .box .image h3 {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    padding: 0.5rem 1rem;
    background: #fff;
  }
}/*# sourceMappingURL=style.css.map */